*.class
*.ear
*.jar
*.war
.DS_Store
.classpath
.gradle
.idea
.project
.serverless
/.settings/
/bin/
/build/
build
node_modules
target
venv
.cache
/s0e0-iot-power-podium/serverless-java/package-lock.json
